.vs/WindowsFormsApp1/v17/TestStore/2/019.testlog
.vs/WindowsFormsApp1/FileContentIndex/9501d669-d5da-4018-87ba-4d92ed4a1879.vsidx
.vs/WindowsFormsApp1/FileContentIndex/828751ce-a018-4b4c-8f53-37366cea2e03.vsidx
.vs/WindowsFormsApp1/FileContentIndex/848a739c-43cc-44a5-9d3d-120ba421a756.vsidx
.vs/WindowsFormsApp1/FileContentIndex/fa6f9039-963c-4715-a1f8-6ed1e05dbb31.vsidx
packages/Microsoft.Bcl.HashCode.6.0.0/buildTransitive/net461/Microsoft.Bcl.HashCode.targets
packages/Microsoft.Bcl.HashCode.6.0.0/buildTransitive/netcoreapp2.0/Microsoft.Bcl.HashCode.targets
